---
title: Le Pays Réel
---

{% include header.html %}

<body class="normal" onload="loadPosts()">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="." class="navbar-brand">Le Pays Réel</a>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/index.html">Blog</a> </li>
      <li><a href="/resistance/index.html">Résistance Française</a> </li>
      <li><a href="/couteaux/index.html">Paul-Marie Coûteaux</a></li>
      <li><a href="/potpourri/index.html">Pot Pourri</a></li>
    </ul>
    </nav>
  </div>
  </nav>

  <div class="container">
    <div class="posts" name="feeds/blog.xml"></div>
  </div>

</body>

{% include footer.html %}
