---
layout: default
title: Le Pays Réel
---

<div class="row">

  <div class="col-md-2 col-lg-2 hidden-xs hidden-sm">
  </div>

  <div class="col-md-8 col-lg-8">

    <div class="jumbotron">
      <h1>Le Pays Réel</h1>
      <p>site gentil d'infomation historique, politique, économique et sociale</p>
    </div>

    <div class="row hidden-xs hidden-sm">

      <div class="col-md-8 col-lg-8">
      {% include intro.html %}
      </div>

      <div class="col-md-4 col-lg-4">
      {% include links.html %}
      </div>

    </div>

    <div class="hidden-md hidden-lg">
    {% include intro.html %}
    </div>

  </div>

  <div class="col-md-2 col-lg-2 hidden-xs hidden-sm">
  </div>

</div>
