<p style="text-align: justify">
Le "Pays Réel" est un agrégateur de contenu visant à la réinformation
historique, politique, économique et sociale populaire.  Ce site contient des
pointeurs vers des émissions dont le contenu, soit historique, soit
socio-politique, tend à donner aux auditeurs un point de vue différent de la
<em>doxa</em> officielle.Jusqu'à ce jour, le "Pays Réel" propose des émissions
de Radio Courtoisie, des interventions radiophoniques de Pierre Jovanovic,
ainsi que des tranches d'histoires narrées par Henri Guillemin. Un fil de
nouvelles <em>Twitter</em> ainsi qu'une liste de sites, rassemblant les sources
dissidentes jugées importantes par les auteurs de ce site, est présentée en
page principale.
</p>
