<center><div class="btn-group-vertical" style="width:100%">
  <button type="button" class="btn btn-default" onclick="location.href='//www.egaliteetreconciliation.fr'">Égalité et Réconciliation</button>
  <button type="button" class="btn btn-default" onclick="location.href='//www.quotidien.com'">Le Blog de l'Apocalypse</button>
  <button type="button" class="btn btn-default" onclick="location.href='//www.dieudosphere.com'">La Dieudosphère</button>
  <button type="button" class="btn btn-default" onclick="location.href='//www.realpolitik.tv'">Realpolitik</button>
  <button type="button" class="btn btn-default" onclick="location.href='//www.scriptoblog.com'">Scriptoblog</button>
  <button type="button" class="btn btn-default" onclick="location.href='//etienne.chouard.free.fr/Europe/forum'">Le Blog du plan C</button>
  <button type="button" class="btn btn-default" onclick="location.href='//ploncard-dassac.over-blog.fr'">Ploncard d'Assac</button>
</div> </center>
 
