---
layout: podcast
title: Radio
---

<div class="row">

  <div class="col-md-3">

    <div class="page-header">
      <h1>{{ page.title }}</h1>
    </div>

    {% include radio-menu.html active='meridien_zero' %}

    <hr>

    <div class="hidden-xs hidden-sm">

      <h4>Méridien Zéro</h4>

      <p style="text-align: justify">
			Méridien Zéro est une émission de Radio Bandiera Nera en Français.
			Elle est la voix des hommes libres, combattants du nouveau siècle.
			Résolument autonome, Méridien Zéro n'appartient qu'à elle-même.
      </p>

      <hr>

      <h4>Orages d'Acier</h4>

      <p style="text-align: justify">
			En cette rentrée 2015, Méridien Zéro vous propose un nouveau rendez-vous pour
			combler vos longues soirées dominicales : Orages d'acier ! Animée par Monsieur
			K et des acolytes de haut vol, l'émission sera diffusée chaque dimanche à 19h00
			par Kebeka Liberata et sera bien sur disponible en podcast sur notre blog. Vos
			commentaires sont vivement attendus !
			</p>

      <hr>

      <h4>Pavillon Noir</h4>

      <p style="text-align: justify">
      Chaque mercredi soir, Méridien Zéro vous propose désormais une chronique
      du Lt Sturm qui, depuis son île (presque) déserte, détaillera et
      disséquera l'actualité du monde tel qu'il ne va pas. La première est ce
      soir : à l'abordage ! Pour joindre le Lieutenant : ltsturm@gmx.fr
      </p>

      <hr>

    </div>

  </div>

  <div class="col-md-9">

  {% include radio-content.html active='meridien_zero' %}

  </div>

</div>

<script>

  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })

</script>

